.DetailsCardContainer {
    background: linear-gradient(90deg, rgba(165, 13, 138, 1) 0%, rgba(254, 54, 99, 1) 100%);
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 23px;
    align-items: center;
    text-align: center;
    display: grid;
    flex: 1;
}


.AddToCartContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.AddToCartButton {
    background-color: rgb(17, 236, 17);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16p;
    font-weight: bold;
    cursor: pointer;
    
}